{% extends 'base.html' %}
{% block title %}Cadastro{% endblock %}

{% block content %}
  <h2>Cadastro</h2>
  <form method="POST">
    <input id="email" type="email" name="email" placeholder="E‑mail" required>

    <div style="position: relative;">
      <input
        id="register-password"
        type="password"
        name="password"
        placeholder="Senha"
        required
      />
      <button
        type="button"
        class="toggle-password"
        onclick="togglePassword('register-password', this)"
      >Mostrar</button>
    </div>

    <button type="submit">Registrar</button>
  </form>

  <p class="message">
    Já tem conta?
    <a href="{{ url_for('login') }}">Entrar</a>
  </p>

  {% if message %}
    <div class="message">{{ message }}</div>
    <div class="gif-container">
      <img src="{{ gif }}" alt="Status" />
    </div>
  {% endif %}
{% endblock %}
